<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <!-- Context Params -->
    <context-param>
        <param-name>pdfHeader</param-name>
        <param-value>Active Learning, Inc. - Official Workload Report</param-value>
    </context-param>
    <context-param>
        <param-name>pdfFooter</param-name>
        <param-value>Confidential - Generated via Student Activity and Workload Tracker</param-value>
    </context-param>
    <context-param>
        <param-name>secretKey</param-name>
        <param-value>w0Rkl04Dh@$h_keY</param-value>
    </context-param>
    <context-param>
        <param-name>cipherInstance</param-name>
        <param-value>AES/ECB/PKCS5Padding</param-value>
    </context-param>
    <context-param>
        <param-name>mysqlDBurl</param-name>
        <param-value>jdbc:mysql://localhost:3310/workload_db?useSSL=false&amp;allowPublicKeyRetrieval=true</param-value>
    </context-param>
    <context-param>
        <param-name>mysqlDBusername</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>mysqlDBpassword</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>mysqlDBdriver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>postgresqlURL</param-name>
        <param-value>jdbc:postgresql://localhost:5432/workload_audit_db</param-value>
    </context-param>
    <context-param>
        <param-name>postgresqlUsername</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>postgresqlPassword</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>postgresqlDriver</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>derbyURL</param-name>
        <param-value>jdbc:derby://localhost:1527/identity_db</param-value>
    </context-param>
    <context-param>
        <param-name>derbyUsername</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>derbyPassword</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>derbyDriver</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <!-- Servlets -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>servlet.CaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchWorkloadServlet</servlet-name>
        <servlet-class>servlet.FetchWorkloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateReportServlet</servlet-name>
        <servlet-class>servlet.GenerateReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>servlet.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignmentManagementServlet</servlet-name>
        <servlet-class>servlet.AssignmentManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskManagementServlet</servlet-name>
        <servlet-class>servlet.TaskManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModuleManagementServlet</servlet-name>
        <servlet-class>servlet.ModuleManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagementServlet</servlet-name>
        <servlet-class>servlet.UserManagementServlet</servlet-class>
    </servlet>
    <!-- Mappings -->
    
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/CaptchaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchWorkloadServlet</servlet-name>
        <url-pattern>/FetchWorkloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateReportServlet</servlet-name>
        <url-pattern>/GenerateReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/AdminDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignmentManagementServlet</servlet-name>
        <url-pattern>/AssignmentManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskManagementServlet</servlet-name>
        <url-pattern>/TaskManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModuleManagementServlet</servlet-name>
        <url-pattern>/ModuleManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagementServlet</servlet-name>
        <url-pattern>/UserManagementServlet</url-pattern>
    </servlet-mapping>
    <!-- Configuration -->
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
